DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=seu-dominio.com,www.seu-dominio.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://seu-dominio.com,https://www.seu-dominio.com
DJANGO_TIMEZONE=America/Bahia
DJANGO_SECURE_SSL_REDIRECT=true
DJANGO_SESSION_COOKIE_SECURE=true
DJANGO_CSRF_COOKIE_SECURE=true
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=Layfe <layfe@thecreatorsclub.com.br>
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=a62d32001@smtp-brevo.com
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true

POSTGRES_DB=ugc_saas
POSTGRES_USER=ugc
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@seu-dominio.com
DJANGO_SUPERUSER_PASSWORD=troque-esta-senha-tambem
DOMAINS=seu-dominio.com, www.seu-dominio.com
